<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Dashboard — XYZ Pharmaceuticals Careers</title>
<link rel="stylesheet" href="/Candidate/assets/css/StyleSheet.css"/>
</head>
<body>

<!-- ══ SIDEBAR ══ -->
<aside class="sidebar">
  <a asp-controller="Website" style="text-decoration:none" asp-action="Index" class="sidebar-brand">
    <div class="brand-logo">
      <svg viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"><path d="M12 2L2 7l10 5 10-5-10-5z"/><path d="M2 17l10 5 10-5"/><path d="M2 12l10 5 10-5"/></svg>
    </div>
    <div class="brand-text">
      <div class="brand-name">XYZ Pharmaceuticals</div>
      <div class="brand-sub">Careers Portal</div>
    </div>
  </a>

  <nav class="sidebar-nav">
    <div class="nav-section-label">Main</div>
    <a asp-controller="Candidate" asp-action="Index" class="nav-item active">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor"><rect x="3" y="3" width="7" height="7" rx="1"/><rect x="14" y="3" width="7" height="7" rx="1"/><rect x="3" y="14" width="7" height="7" rx="1"/><rect x="14" y="14" width="7" height="7" rx="1"/></svg>
      Dashboard
    </a>

    <div class="nav-section-label">My Profile</div>
     <a asp-controller="Candidate" asp-action="Personal" class="nav-item">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor"><circle cx="12" cy="8" r="4"/><path d="M4 20c0-4 3.6-7 8-7s8 3 8 7"/></svg>
      Personal Details
    </a>
            <a asp-controller="Candidate" asp-action="Education" class="nav-item">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor"><path d="M2 3h6a4 4 0 014 4v14a3 3 0 00-3-3H2z"/><path d="M22 3h-6a4 4 0 00-4 4v14a3 3 0 013-3h7z"/></svg>
      Education &amp; Experience
    </a>
            <a asp-controller="Candidate" asp-action="Resume" class="nav-item">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor"><path d="M14 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8z"/><path d="M14 2v6h6M8 13h8M8 17h5"/></svg>
      Resume
      <span class="nav-badge">!</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <div class="sidebar-user">
      <div class="user-av">AK</div>
      <div>
        <div class="user-name-sm">Ayesha Khan</div>
        <div class="user-role-sm">Job Applicant</div>
      </div>
    </div>
  </div>
</aside>




@RenderBody()
      
    <script src="/Candidate/assets/js/app.js"></script>
</body>
</html>
